{% extends '@MyPractice/Layout/layout.html.twig' %}
{% block body %}
    <div id="wrapper">
        <div id="container">
			<h2>List of all Symfony GitHub Repositories</h2>			
            <table border='1' width='100%' cellspacing='0' cellpadding='0'>
				<tr>
					<th>Sr. No.</th>
					<th>Name</th>
					<th>Description</th>
					<th>URL</th>
				</tr>
				{% if arrSymfonyRepos is defined and arrSymfonyRepos is not empty %}
					{% for repos in arrSymfonyRepos %}
						<tr>
							<td style='text-align:center'>{{loop.index}}</td>
							<td>{{repos.name}}</td>
							<td>{{repos.description}}</td>
							<td><a href='{{repos.url}}' target='_blank'>{{repos.url}}</a></td>
						</tr>	
					{% endfor %}
				{% else %}
					<tr>
						<td style='text-align:center' colspan='4'>No Records Found</td>
					</tr>	
				{% endif %}		
			</table>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 12px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }
	th { font-size: 14px; }
    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }
        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}